.*.cmd
.tmp_versions/
*~
Module.markers
Module.symvers
*.ko
*.o
*.mod.c
modules.order
examples/ncr
examples/pk
examples/speed
releases
userspace/ncr-setkey
userspace/lskeys
userspace/rmkey
version.h
tags
tests/ncr
tests/pk
tests/speed
tests/uspeed
*.orig
*.orig.done
examples/aes
examples/rsa
cscope.out
